# Projeto Python IA: Inteligência Artificial e Previsões

### Case: Score de Crédito dos Clientes

Você foi contratado por um banco para conseguir definir o score de crédito dos clientes. Você precisa analisar todos os clientes do banco e, com base nessa análise, criar um modelo que consiga ler as informações do cliente e dizer automaticamente o score de crédito dele: Ruim, Ok, Bom

Arquivos da aula: https://drive.google.com/drive/folders/1FbDqVq4XLvU85VBlVIMJ73p9oOu6u2-J?usp=drive_link

In [9]:
import pandas as pd

tabela = pd.read_csv('clientes.csv')
display(tabela)
display(tabela.info())

,id_cliente,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,...,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,score_credito,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,3392,1,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,265.0,21.465380,alto_gasto_pagamento_baixos,312.494089,Good,1,1,1,1,0
1,3392,2,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,266.0,21.465380,baixo_gasto_pagamento_alto,284.629162,Good,1,1,1,1,0
2,3392,3,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,3.0,...,267.0,21.465380,baixo_gasto_pagamento_medio,331.209863,Good,1,1,1,1,0
3,3392,4,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,5.0,...,268.0,21.465380,baixo_gasto_pagamento_baixo,223.451310,Good,1,1,1,1,0
4,3392,5,23.0,cientista,19114.12,3.0,4.0,3.0,4.0,6.0,...,269.0,21.465380,alto_gasto_pagamento_medio,341.489231,Good,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,37932,4,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,23.0,...,378.0,24.028477,alto_gasto_pagamento_alto,479.866228,Poor,1,0,0,0,1
99996,37932,5,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,379.0,24.028477,alto_gasto_pagamento_medio,496.651610,Poor,1,0,0,0,1
99997,37932,6,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,27.0,...,380.0,24.028477,alto_gasto_pagamento_alto,516.809083,Poor,1,0,0,0,1
99998,37932,7,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,20.0,...,381.0,24.028477,baixo_gasto_pagamento_alto,319.164979,Standard,1,0,0,0,1
99999,37932,8,25.0,mecanico,39628.99,4.0,6.0,7.0,2.0,18.0,...,382.0,24.028477,alto_gasto_pagamento_medio,393.673696,Poor,1,0,0,0,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 19.1+ MB

None

In [10]:
from sklearn.preprocessing import LabelEncoder

codificador = LabelEncoder()

tabela["profissao"] = codificador.fit_transform(tabela["profissao"])
tabela["mix_credito"] = codificador.fit_transform(tabela["profissao"])
tabela["comportamento_pagamento"] = codificador.fit_transform(tabela["profissao"])

display(tabela.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  int32
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  int64
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  int64
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int32(1), int64(9), object(1)
memory usage: 18.7+ MB

None

In [11]:
y = tabela["score_credito"]
colunas = ["id_cliente", "score_credito"]
x = tabela.drop(columns=colunas)

from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.2)

display(x_treino)
display(x_teste)
display(y_treino)
display(y_teste)

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
20011,4,28.0,14,18019.140,5.0,5.0,19.0,4.0,15.0,16.0,...,39.144437,215.0,61.292208,14,318.781240,1,1,1,1,0
25961,2,18.0,14,16360.215,3.0,6.0,18.0,4.0,27.0,10.0,...,38.509511,329.0,51.312029,14,255.433979,1,0,0,1,0
59467,4,38.0,10,28771.760,7.0,7.0,31.0,8.0,24.0,15.0,...,33.893268,22.0,37.115089,10,303.452414,1,0,1,1,1
45268,5,16.0,10,31136.800,4.0,7.0,18.0,4.0,6.0,14.0,...,39.215534,390.0,33.554355,10,257.483151,0,1,0,1,1
76675,4,22.0,6,22934.450,5.0,6.0,17.0,3.0,6.0,22.0,...,26.869269,122.0,34.501099,6,359.228427,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41701,6,52.0,8,37367.340,2.0,7.0,10.0,3.0,3.0,1.0,...,36.748454,390.0,29.226320,8,455.943486,0,1,0,1,0
88536,1,40.0,11,8283.985,8.0,4.0,17.0,5.0,26.0,10.0,...,31.067633,146.0,14.331457,11,284.384081,1,1,0,0,1
18764,5,31.0,13,99912.570,1.0,5.0,5.0,1.0,15.0,3.0,...,38.892338,270.0,92.864527,13,599.016322,0,1,0,0,0
13806,7,18.0,10,40009.740,3.0,6.0,15.0,4.0,2.0,11.0,...,37.579579,257.0,67.415801,10,422.464167,0,0,1,0,0
38069,6,33.0,5,128754.040,3.0,4.0,6.0,4.0,16.0,7.0,...,32.090152,344.0,155.931763,5,472.950711,1,1,0,0,0

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
19048,1,54.0,0,31438.120,1.0,4.0,9.0,1.0,2.0,7.0,...,34.392697,394.0,52.386319,0,210.917006,0,0,1,0,0
97670,7,34.0,5,14925.810,8.0,6.0,5.0,5.0,19.0,11.0,...,33.640800,125.0,35.877731,5,272.811881,1,0,0,1,1
49445,6,46.0,4,71842.800,3.0,7.0,12.0,2.0,13.0,10.0,...,41.197387,324.0,70.035562,4,724.880866,0,0,0,1,0
50224,1,53.0,10,35812.340,7.0,7.0,10.0,4.0,29.0,12.0,...,30.148143,364.0,29.562756,10,407.846188,1,1,1,0,0
47784,1,31.0,14,36707.700,5.0,5.0,19.0,5.0,15.0,20.0,...,28.180674,136.0,126.325076,14,163.658660,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38894,7,31.0,0,65383.720,8.0,10.0,19.0,2.0,20.0,8.0,...,26.975644,197.0,37.757658,0,623.966266,0,0,0,0,1
9277,6,23.0,11,116721.180,2.0,1.0,12.0,1.0,4.0,6.0,...,35.326322,272.0,94.261036,11,288.392199,0,0,0,0,0
17487,8,17.0,6,74346.440,7.0,10.0,25.0,8.0,62.0,18.0,...,30.231116,124.0,77.594762,6,472.385633,0,1,1,1,1
71952,1,35.0,13,7166.995,9.0,7.0,30.0,6.0,57.0,23.0,...,37.436563,19.0,12.218361,13,284.473361,1,1,0,1,0
44856,1,45.0,7,49140.870,10.0,6.0,27.0,6.0,35.0,21.0,...,28.875662,72.0,53.334089,7,409.940117,0,1,0,0,0

20011    Standard
25961    Standard
59467    Standard
45268    Standard
76675    Standard
           ...
41701        Poor
88536    Standard
18764    Standard
13806    Standard
38069        Poor
Name: score_credito, Length: 80000, dtype: object

19048        Good
97670    Standard
49445    Standard
50224    Standard
47784    Standard
           ...
38894        Poor
9277         Good
17487        Poor
71952        Poor
44856    Standard
Name: score_credito, Length: 20000, dtype: object

In [12]:
# arvore de decisao
from sklearn.ensemble import RandomForestClassifier
# knn
from sklearn.neighbors import KNeighborsClassifier

modelo_arvoredecisao = RandomForestClassifier()
# modelo_knn = KNeighborsClassifier()

modelo_arvoredecisao.fit(x_treino, y_treino)
# modelo_knn.fit(x_treino, y_treino)

RandomForestClassifier()

In [13]:
# verificar assertividade
from sklearn.metrics import accuracy_score

previsao_arvoredecisao = modelo_arvoredecisao.predict(x_teste)
# previsao_knn = modelo_knn.predict(x_teste.to_numpy())

print(accuracy_score(y_teste, previsao_arvoredecisao))
# print(accuracy_score(y_teste, previsao_knn))

0.83475

In [14]:
# fazer nova analise
novos_clientes = pd.read_csv('novos_clientes.csv')
display(novos_clientes)
novos_clientes["profissao"] = codificador.fit_transform(novos_clientes["profissao"])
novos_clientes["mix_credito"] = codificador.fit_transform(novos_clientes["profissao"])
novos_clientes["comportamento_pagamento"] = codificador.fit_transform(novos_clientes["profissao"])


previsao = modelo_arvoredecisao.predict(novos_clientes)

display(previsao)

,mes,idade,profissao,salario_anual,num_contas,num_cartoes,juros_emprestimo,num_emprestimos,dias_atraso,num_pagamentos_atrasados,...,taxa_uso_credito,idade_historico_credito,investimento_mensal,comportamento_pagamento,saldo_final_mes,emprestimo_carro,emprestimo_casa,emprestimo_pessoal,emprestimo_credito,emprestimo_estudantil
0,1,31.0,empresario,19300.340,6.0,7.0,17.0,5.0,52.0,19.0,...,29.934186,218.0,44.50951,baixo_gasto_pagamento_baixo,312.487689,1,1,0,0,0
1,4,32.0,advogado,12600.445,5.0,5.0,10.0,3.0,25.0,18.0,...,28.819407,12.0,0.00000,baixo_gasto_pagamento_medio,300.994163,0,0,0,0,1
2,2,48.0,empresario,20787.690,8.0,6.0,14.0,7.0,24.0,14.0,...,34.235853,215.0,0.00000,baixo_gasto_pagamento_alto,345.081577,0,1,0,1,0

array(['Poor', 'Poor', 'Standard'], dtype=object)